Repository sebastiantf/typescript-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config .eslintrc, bash -c 'tsc --pretty --noEmit'

chore: 🔧 add `splat` to logger
  src/common/logger.ts
Due: prettier --config .prettierrc --write, eslint --config .eslintrc, bash -c 'tsc --pretty --noEmit'

chore: 🎨 format
  src/common/logger.ts
Due: prettier --config .prettierrc --write, eslint --config .eslintrc, bash -c 'tsc --pretty --noEmit'

feat: ✨ improve logger to use `util.inspect()`
  src/common/logger.ts
Due: prettier --config .prettierrc --write, eslint --config .eslintrc, bash -c 'tsc --pretty --noEmit'

build: 🔧 update `source`, `main`
  package.json
Due: prettier --config .prettierrc --write

build: 🔧 add `tsconfig.prod.json`
  package.json
  tsconfig.json
  tsconfig.prod.json
Due: prettier --config .prettierrc --write

chore: 🙈 gitignore .env
  .gitignore
Due: none

feat: format & organize imports on save
  .vscode/settings.json
Due: prettier --config .prettierrc --write

feat: add dotenv
  .env.example
  README.md
  package.json
  src/common/config.ts
  src/index.ts
  yarn.lock
Due: prettier --config .prettierrc --write, eslint --config .eslintrc, bash -c 'tsc --pretty --noEmit'

build: upgrade deps
  yarn.lock
Due: none

fix: eslint config file
  .eslintrc.json
Due: prettier --config .prettierrc --write

chore: stricter lint
  .eslintrc.json
  src/common/logger.ts
Due: prettier --config .prettierrc --write, eslint --config .eslintrc, bash -c 'tsc --pretty --noEmit'

chore: fix precommit
  .lintstagedrc
Due: none

ci: upgrade actions
  .github/workflows/ci.yaml
Due: prettier --config .prettierrc --write

Path conditions:
  prettier --config .prettierrc --write: any of: *.{js,json,md,ts,yaml,yml}
  eslint --config .eslintrc: any of: *.{js,ts}
  bash -c 'tsc --pretty --noEmit': any of: *.{js,ts}
