Repository sebastiantf/typescript-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config .eslintrc, bash -c 'tsc --pretty --noEmit'

.lintstagedrc:

{
  "*.{js,json,md,ts,yaml,yml}": [
    "prettier --config .prettierrc --write"
  ],
  "*.{js,ts}": [
    "eslint --config .eslintrc",
    "bash -c 'tsc --pretty --noEmit'"
  ]
}

install & init husky
  .husky/pre-commit
  package.json
  yarn.lock
Due: prettier --config .prettierrc --write

install commitlint
  package.json
  yarn.lock
Due: prettier --config .prettierrc --write

chore(commitlint): add .commitlintrc.yaml
  .commitlintrc.yaml
Due: prettier --config .prettierrc --write

chore(husky): add commit-msg hook to commitlint
  .husky/commit-msg
Due: none

build: install commitizen
  package.json
  yarn.lock
Due: prettier --config .prettierrc --write

chore(cz): add .czrc
  .czrc
Due: none

chore(husky): add prepare-commit-msg to cz
  .husky/prepare-commit-msg
Due: none

build: add `commit` script
  package.json
Due: prettier --config .prettierrc --write

fix(husky): remove prepare-commit-msg
  .husky/prepare-commit-msg
Due: none

build: rename project `ts-template` → `typescript-template`
  package.json
  yarn.lock
Due: prettier --config .prettierrc --write

build: install jest
  package.json
  yarn.lock
Due: prettier --config .prettierrc --write

chore(jest): add jest.config.json
  jest.config.json
Due: prettier --config .prettierrc --write

build(tsconfig): remove `rootDir`, use `include`
  tsconfig.json
Due: prettier --config .prettierrc --write

test: add sample test
  test/lib/greeter.test.ts
Due: prettier --config .prettierrc --write, eslint --config .eslintrc, bash -c 'tsc --pretty --noEmit'

build: add `test` script
  package.json
Due: prettier --config .prettierrc --write

build: add `test:cov` script
  package.json
Due: prettier --config .prettierrc --write

chore: gitignore /coverage
  .gitignore
Due: none

docs: add README.md
  README.md
Due: prettier --config .prettierrc --write

build(scripts): add `ts:check` script
  package.json
Due: prettier --config .prettierrc --write

ci(actions): add CI
  .github/workflows/ci.yaml
Due: prettier --config .prettierrc --write

upgrade yarn to berry
  .yarn/releases/yarn-berry.cjs
  .yarnrc.yml
Due: prettier --config .prettierrc --write

migrate packages to yarn berry
  .yarnrc.yml
  yarn.lock
Due: prettier --config .prettierrc --write

gitignore .yarn
  .gitignore
Due: none

add README.md
  README.md
Due: prettier --config .prettierrc --write

docs: update README.md about minimal
  README.md
Due: prettier --config .prettierrc --write

build: 🔧 reintroduce `rootDir`, exclude `test/**`
  tsconfig.json
Due: prettier --config .prettierrc --write

chore: 🔨 add & use `clean` script
  package.json
Due: prettier --config .prettierrc --write

build: ➕ install `winston`
  package.json
  yarn.lock
Due: prettier --config .prettierrc --write

build: 🔧 exclude `dist` folder
  tsconfig.json
Due: prettier --config .prettierrc --write

feat: ✨ add `logger`
  src/common/logger.ts
Due: prettier --config .prettierrc --write, eslint --config .eslintrc, bash -c 'tsc --pretty --noEmit'

refactor: ♻️ use logger
  src/index.ts
Due: prettier --config .prettierrc --write, eslint --config .eslintrc, bash -c 'tsc --pretty --noEmit'

chore: 🔨 add `dev` script
  package.json
Due: prettier --config .prettierrc --write

docs: 📝 add winston to README
  README.md
Due: prettier --config .prettierrc --write

docs: 📝 add `minimal-logger` branch to README
  README.md
Due: prettier --config .prettierrc --write
